---
title: inkyvoxel
description: I write about software engineering, leadership, and cybersecurity.
layout: layout.html
pagination:
    data: collections.post
    size: 5
    alias: posts
    reverse: true
---

<h1>{{ title }}</h1>

<p>{{ description }}</p>

{% for post in posts %}
<article>
    <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    <p><time datetime="{{ page.date | isoDate }}">{{ post.date | readableDate }}</time></p>
    <p>{{ post.data.description }}</p>
    <hr>
</article>
{% endfor %}

<nav>
{% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}">Previous page</a>
{% endif %}

{% if pagination.href.previous and pagination.href.next %}
|
{% endif %}

{% if pagination.href.next %}
    <a href="{{ pagination.href.next }}">Next page</a>
{% endif %}
</nav>