.demo {
    padding: 1rem;
    border: 2px solid var(--primary);
    box-shadow: -2px 2px 0 var(--primary);
    border-radius: 10px;
}

.demo h3 {
    color: var(--primary);
}

.demo textarea,
.demo input {
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 4px;
    background-color: var(--light);
    color: var(--dark);
    font-size: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
}

.demo button {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--primary);
    color: var(--dark);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    transition: filter 0.2s ease;
}

.demo button:hover {
    filter: brightness(0.9);
}

.demo label {
    display: block;
    margin-bottom: 1rem;
}

@media (prefers-color-scheme: light) {
    .demo button {
        color: var(--light);
    }
}