body {
    font-family: monospace;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    letter-spacing: 0.02em;
    text-rendering: optimizeLegibility;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --primary: #c6bdff;
    --dark: #000;
    --light: #fff;
    background-color: var(--dark);
    color: var(--light);
}

a {
    font-weight: bold;
    color: var(--primary);
}

hr {
    border-style: dashed;
}

p {
    margin-bottom: 1em;
}

header,
main,
footer {
    width: 90%;
    max-width: 800px;
}

header {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
}

header nav ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
}

header nav li {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: center;
    padding: 0;
}

code,
pre code {
    padding: 2px;
    overflow-x: auto;
}

pre code {
    display: block;
}

code:not(pre code) {
    display: inline-block;
    vertical-align: bottom;
    white-space: normal;
    margin-top: 5px;
}

.support {
    text-align: center;
    margin: 1rem 0;
    line-height: 0.8;
}

code,
pre code,
.support {
    background-color: #dcdde1;
    border: 2px solid #718093;
    box-shadow: -2px 2px 0 #718093;
    border-radius: 10px;
}

code,
pre code,
.support,
.support a {
    color: var(--dark);
}

h1 {
    font-size: 2rem;
}

.date {
    font-style: italic;
    font-size: 0.9rem;
}

@media (prefers-color-scheme: light) {
    body {
        --primary: #4d31d8;
        background-color: var(--light);
        color: var(--dark);
    }
}

.voxel {
    margin-right: 1rem;
    display: inline-block;
    width: 1em;
    height: 1em;
    perspective: 600px;
    vertical-align: middle;
    position: relative;
    transform-style: preserve-3d;
    animation: spin-cube 2s linear infinite;
}

.voxel .face {
    position: absolute;
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    backface-visibility: hidden;
    background-color: var(--primary);
}

.voxel .front {
    transform: rotateY(0deg) translateZ(0.5em);
}

.voxel .back {
    transform: rotateY(180deg) translateZ(0.5em);
}

.voxel .right {
    transform: rotateY(90deg) translateZ(0.5em);
}

.voxel .left {
    transform: rotateY(-90deg) translateZ(0.5em);
}

.voxel .top {
    transform: rotateX(90deg) translateZ(0.5em);
}

.voxel .bottom {
    transform: rotateX(-90deg) translateZ(0.5em);
}

@keyframes spin-cube {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.disclaimer {
    background-color: #fbe8e4;
    border: 2px solid #8e2710;
    box-shadow: -2px 2px 0 #8e2710;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 0;
    color: #8e2710;
}