---
title: 404 - Page not found
description: I am a software engineer who writes about various topics including web applications and cybersecurity.
layout: page.liquid
permalink: 404.html
---
<p>Why not <a href="/">go back home</a>?</p>
