---
layout: page.liquid
title: Archives
description: A list of all posts.
---
<p>This is a list of all the posts published on this site.</p>
{% assign posts = collections.post %}
{% include 'post-list.liquid' %}