---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
  addAllPagesToCollections: true
layout: page.liquid
eleventyComputed:
  title: "{{ tag | replace: '-', ' ' | capitalize }} posts"
  description: "{{ tag | replace: '-', ' ' | capitalize }} posts"
permalink: /tags/{{ tag | slugify }}/
---
{% assign posts = collections[tag] %}
{% include 'post-list.liquid' %}

<p>See a list of <a href="/tags/">all tags</a>.</p>
