---
layout: page.liquid
title: Tags
description: A list of tags used to categorise posts.
---
<p>Use the links below to filter posts by their tags.</p>
{% assign sorted_tags = collections | keys | sort %}
<ul>
  {% for tag in sorted_tags %}
    {% unless tag == 'all' or tag == 'post' %}
      {% assign posts = collections[tag] %}
      <li>
        <a href="/tags/{{ tag }}">{{ tag | replace: '-', ' ' }}</a> ({{ posts.length }})
      </li>
    {% endunless %}
  {% endfor %}
</ul>
